.DS_Store
node_modules
typings
bin
dist
.env
.vscode
*.log
*.sublime-workspace
*.sublime-project
**/*.js
!gulpfile.js
**/*.js.map
.project
package-lock.json
.nyc_output
.idea
/coverage
!.eslintrc.js
!.prettierrc.js
.next